# Ignore everything in this directory as we only need it for scaffolding
# around the Airflow environment initialisation.
#
# This file can be safely removed once we actually place tracked
# content within the directory.
*
# Except this file
!.gitignore
